/thinkphp/
/vendor/
/runtime/
/application/admin/command/Install/*.lock
/public/assets/libs/
/public/uploads/*
composer.lock
.env
.buildpath
.project
.settings/
.svn/
/application/admin/command/Min/node.log