<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
	<!-- <input type="hidden" name="row[mode]" value="json"/> -->
    <div class="form-group">
        <label for="c-code" class="control-label col-xs-12 col-sm-2">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code" data-rule="required" class="form-control" name="row[code]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="required" class="form-control" name="row[content]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
	            {foreach name="typeList" item="vo"}
	            	<label for="row[type]-{$key}"><input id="row[type]-{$key}" name="row[type]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
	            {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
	            {foreach name="statusList" item="vo"}
	            	<label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label> 
	            {/foreach}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-sms_cfg" class="control-label col-xs-12 col-sm-2">短信拦截设置:</label>
        <div class="col-xs-12 col-sm-8">
        	<div class="radio">
	            <label><input name="row[sms_cfg]" type="radio" value="0" checked />不设置</label> 
	            <label><input name="row[sms_cfg]" type="radio" value="1" />设置</label> 
            </div>
        </div>
    </div>
    <div class="sms_cfg_area hide">
	    <div class="form-group">
	        <label for="c-sms_type" class="control-label col-xs-12 col-sm-2">短信类型:</label>
	        <div class="col-xs-12 col-sm-8">
	        	<div class="radio">
		            <label><input name="row[sms_type]" type="radio" value="0" checked />普通短信</label> 
		            <label><input name="row[sms_type]" type="radio" value="1" />验证码短信</label> 
	            </div>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="c-value" class="control-label col-xs-12 col-sm-2">配置值:</label>
	        <div class="col-xs-12 col-sm-8">
	        	<p>
                	时长 : 到当前时间的时间段内 的时长<br>
					条数 : 到当前时间的时间段内 的限制条数
	            </p>
	            <!-- <p>
	                <a href="javascript:;" class="btn btn-info btn-jsoneditor"><i class="fa fa-pencil"></i> {:__('Json editor')}</a>
	            </p>
	            <textarea id="c-value" class="form-control hide" rows="15" name="row[value]"></textarea> -->
	            <dl class="fieldlist" rel="1">
	                <dd>
	                    <ins>时长（单位：秒）</ins>
	                    <ins>条数</ins>
	                </dd>
	                <dd>
	                    <input type="number" name="row[smscfg][self][]" class="form-control" id="field-0" value="" size="10" required placeholder="自身拦截"/>
	                    <input type="number" name="row[smscfg][self][]" class="form-control" id="value-0" value="" size="40" required style="width: 110px;" placeholder="自身拦截"/>
	                </dd>
	                <dd></dd>
	                <dd>
	                    <input type="number" name="row[smscfg][ip][]" class="form-control" id="field-0" value="" size="10" required placeholder="ip拦截"/>
	                    <input type="number" name="row[smscfg][ip][]" class="form-control" id="value-0" value="" size="40" required style="width: 110px;" placeholder="ip拦截"/>
	                </dd>
	                <dd></dd>
	                <dd>
	                    <input type="number" name="row[smscfg][phone][]" class="form-control" id="field-0" value="" size="10" required placeholder="手机号拦截"/>
	                    <input type="number" name="row[smscfg][phone][]" class="form-control" id="value-0" value="" size="40" required style="width: 110px;" placeholder="手机号拦截"/>
	                </dd>
	                <dd></dd>
	            </dl>
	        </div>
	    </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>